In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset('titanic')
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [2]:
X = df[['age', 'fare']]
Y = df['survived']

X = X.dropna()
Y = Y.loc[X.index]

print(X.head())
print(Y.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [4]:
# Train-Test split
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("x_train shape :",x_train.shape)
print("x_test shape :",x_test.shape)
print("y_train shape :",y_train.shape)
print("x_test shape :",x_test.shape)

x_train shape : (571, 2)
x_test shape : (143, 2)
y_train shape : (571,)
x_test shape : (143, 2)

In [7]:
# Label encoding (converting word to numbers)
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['sex_encoded'] = le.fit_transform(df['sex'])
df[['sex_encoded', 'sex']].head(10)

   sex_encoded     sex
0            1    male
1            0  female
2            0  female
3            0  female
4            1    male
5            1    male
6            1    male
7            1    male
8            0  female
9            0  female

In [9]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
embarked_ohe = ohe.fit_transform(df[['embarked']])
print("One_hot shape :", embarked_ohe.shape)
print(embarked_ohe[:5])

One_hot shape : (891, 4)
[[0. 0. 1. 0.]
 [1. 0. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]]